.nav {
  padding-left: 20px;
  position: fixed;
  width: 100%;
  list-style-type: none;
  z-index: 999;
  overflow: hidden;
  background-color: rgb(140,0,0);
}

footer {
  padding: 10px;
}
.menu-icon {
  float: left;
}

.fa-instagram {
  background: #125688;
  color: white;
  font-size: 35px;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

a {
  text-decoration: none;
}

footer {
  background-color: rgb(200,226,253);
}

.nav-link {
  color: white;
  width: 100%;
  padding: 10px;
  text-decoration: none;
}
.nav-submenu {
  color: black;
}
td {
  width: 33%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
  margin: 0 auto;
  overflow: scroll !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.section {
  word-wrap: break-word;
  width: auto;
  padding: 20px;
}
h3 {
  font-weight: normal;
}
td {
  vertical-align: text-top;
}

table {
  width: 100%;
}

@media (min-width: 543px) {
  .content {
    padding: 10px;
    padding-top: 7vh;
  }
}

.responsive-image {
  width: 100%;
  height: auto;
}

@media (max-width: 543px) {
  
  .content {
    padding: 10px;
    padding-top: 5vh;
  }
  td {
    display: inline-block;
    width: auto;
  }
  .footer-icon {
    margin-left: 40px !important;
  }
  li {
    display: block;
  }
  .nav {
    text-align: left;
  }
  h1,h2,h3,.p-title, .paragraph {
    width: auto !important;
  }
  .css-18y2uza-MuiTypography-root-MuiTimelineContent-root {
    width: 100% !important;
  }
  body {
    overflow: scroll;
    padding: 0px !important;
    margin: 0 auto !important;
  }

}

